<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigator">
        <div class="menubuttons">
            <p>Menu</p>
            <button class="splash-screen-buttons" (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-nav-list>
            <a mat-list-item routerLink="movies/list">
                <p>Movies</p>
                <mat-icon>arrow_forward</mat-icon>
            </a>

            <a mat-list-item routerLink="actors">
                <p>Actors</p>
                <mat-icon>arrow_forward</mat-icon>
            </a>
            <a mat-list-item routerLink="studios">
                <p>Studios</p>
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button class="splash-screen-buttons" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>Ng-Movies</div>

            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li> <a routerLink="movies">Movies</a></li>
                    <li> <a routerLink="actors">Actors</a></li>
                    <li> <a routerLink="studios">Studios</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>