<ng-container *ngIf="((moviesFacade.showLoader$|async)===false); else showLoader">
    <!-- ALERT NOTIFICATIONS-->
    <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="(moviesFacade.postSuccess$|async)">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            Movie added successfully
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="resetPostSuccess()"></button>
    </div>
    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="(moviesFacade.error$|async)">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{(moviesFacade.error$|async).message}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="resetError()"></button>
    </div>

    <!-- MOVIE FORM -->
    <article class="movieCard">
        <div class="card" style="width: 18rem">
            <form [formGroup]="moviesForm">
                <mat-form-field>
                    <input type="text" matInput placeholder="input title" formControlName="title" />
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="input poster" formControlName="poster" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre">
                        <mat-option *ngFor="let genreItem of genresList" [value]="genreItem">
                            {{ genreItem}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="input year" formControlName="year" />
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="input duration" formControlName="duration" />
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="input imdbRating" formControlName="imdbRating" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Actors</mat-label>
                    <mat-select formControlName="actors">
                        <mat-option *ngFor="let actorItem of actorsList" [value]="actorItem">
                            {{actorItem}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" (click)="doPostNewMovie()">Add Movie</button>
                </div>
            </form>
        </div>

    </article>
    <a routerLink="/movies/list" class="float">
        <mat-icon class=" my-float">undo</mat-icon>
    </a>

</ng-container>

<ng-template #showLoader>
    <p-progressSpinner class="spinner"></p-progressSpinner>
</ng-template>