<article class="movieCard">
    <div class="card" style="width: 18rem;" *ngIf="moviesFacade.selectedMovie$|async as movie">
        <h3 class="card-title">{{movie.title}}</h3>
        <h4 class="card-title">{{movie.genre}}</h4>
        <h5 class="card-title">{{movie.year}}</h5>

    </div>
    <a routerLink="/movies/list" class="float">
        <mat-icon class=" my-float">undo</mat-icon>
    </a>
</article>