.movieCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  margin: 7.5px;
}

.genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.genres p {
  padding: 4px;
  margin: 0px 0px 4px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 20px;
}
