<ng-container *ngIf="(moviesFacade.showLoader$|async)===false; else showLoader">
    <!-- ALERT NOTIFICATIONS-->

    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="(moviesFacade.error$|async)">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{(moviesFacade.error$|async).message}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="resetError()"></button>
    </div>
    <ng-container *ngIf="!!(moviesFacade.movies$|async);else showNoResults">
        <article class="movieCard">
            <div class="card" style="width: 18rem;"
                *ngFor="let item of (moviesFacade.movies$|async);let i=index; trackBy: movieListTrackBy">
                <h3 class="card-title">{{item.title}}</h3>
                <img src="{{item.poster}}" class="card-img-top" alt="no image">
                <div class="card-body">
                    <aside class="genres">
                        <p class="card-text" *ngFor="let genre of item.genre">{{genre}}</p>
                    </aside>
                    <a mat-list-item routerLink="/movies/details" class="btn btn-primary"
                        (click)="selectedMovieId(item.id)">Details</a>
                </div>
            </div>
            <a routerLink="/movies/new" class="float">
                <mat-icon class=" my-float">add</mat-icon>
            </a>

        </article>
    </ng-container>
    <ng-template #showNoResults>
        <article class="movieCard">
            <div class="card" style="width: 18rem;">
                <h3 class="card-title">NO RESULTS</h3>


            </div>
        </article>

    </ng-template>
</ng-container>

<ng-template #showLoader>
    <p-progressSpinner class="spinner"></p-progressSpinner>
</ng-template>